body{
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: "myFirstFont";
    src: url("./silkscreen/slkscrb.ttf");
}
#score{
    color: #FF0000;
    font-size: 50px;
}
h1{
    font-family: myFirstFont;
    color: black;
    font-size: 100px;
    text-align: center;
    margin: 10px;
}
.oddBox{
    background-color: #eee;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #000;
}
.evenBox{
    background-color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #000;
}
main{
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    border: 5px solid lightgray;

    }
#snake{
    background-color: black;
}
#apple{
    background-color: #FF0000;
    border-radius: 50%;
}
.scoreRow{
    font-family: myFirstFont;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
#playerName{
    font-size: 50px;
    color: lightgray;
    padding-right: 40px;
}
input{
    border: 0px;
    height: 20px;
    background-color: lightgray;
}
.enter{
    border: 0px;
    height: 24px;
    background-color: black;
    color: white;
    margin-bottom: 23px;

}
.reset{
    display: none;
}
